@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

#root {
  width: 100%;
  height: 1200px;
}

.main {
  width: 90%;
  min-height: 800px;
}

.form {
  margin-top: 100px;
  height: 100vh;
}

.success-message {
  color: green;
}

.required {
  color: red;
  font-weight: bold;
}

.error {
  margin-top: 20px;
  color: red;
}

.image-container.enlarged {
  transform: scale(3);
  transform-origin: 0% 15%;
  transition: transform 0.3s ease-in-out;
}
.image-container img:hover {
  cursor: zoom-in;
}

.search {
  margin-top: 100px;
}

.image-icon {
  background-color: skyblue;
  color: black;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
  margin-left: auto;
  display: inline-block;
}

.text-icon {
  background-color: green;
  color: white;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
  margin-left: auto;
  display: inline-block;
}

.login-wrapper {
  margin: 100px 200px;
  padding: 50px;
}

.login-box {
  padding: 15px;
  border-radius: 5px;
}

.login-input {
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 300px;
}

.login-error-message {
  margin-left: 30px;
  color: red;
}

.login-button {
  margin-left: 180px;
  background-color: #007bff;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
}

.username-message {
  font-weight: bold;
  padding-left: 30px;
}

.username-message.success {
  color: green;
}

.username-message.error {
  color: red;
}

.username-message.warning {
  color: orange;
}
